
*.csv

XGBoost/16_stage_3XOR_APUF_C_Origin.txt

XGBoost/16_stage_3XOR_FFPUF_C_Origin.txt

XGBoost/16_stage_APUF_C_Origin.txt

XGBoost/32_stage_3XOR_APUF_C_Origin.txt

XGBoost/32_stage_3XOR_FFPUF_C_Origin.txt

XGBoost/32_stage_APUF_C_Origin.txt

XGBoost/3XOR_FF_PUF0utput_all_w_12_epsilon_a_pat_0_output_K_16.txt

XGBoost/3XOR_FF_PUF0utput_all_w_12_epsilon_a_pat_0_output_K_32.txt

XGBoost/3XORAPUF0utput_all_w_12_epsilon_a_pat_0_output_K_16.txt

XGBoost/3XORAPUF0utput_all_w_12_epsilon_a_pat_0_output_K_32.txt

XGBoost/APUF0utput_OWF_w_12_epsilon_a_pat_0_output_K_16.txt

XGBoost/APUF0utput_OWF_w_12_epsilon_a_pat_0_output_K_32.txt

XGBoost/C_Final_Owen/16_stage_APUF_C_Final_Owen/beta_a/pat_0/w_8/OWF_w_8_beta_a_pat_0_HammingDist_K_16.txt

XGBoost/C_Final_Owen/16_stage_APUF_C_Final_Owen/beta_a/pat_0/w_8/OWF_w_8_beta_a_pat_0_output_K_16.txt

XGBoost/C_Final_Owen/16_stage_APUF_C_Final_Owen/beta_a/pat_0/w_8/OWF_w_8_beta_a_pat_0_Uniformity_K_16.txt

XGBoost/C_Final_Owen/16_stage_APUF_C_Final_Owen/beta_a/pat_1/w_8/OWF_w_8_beta_a_pat_1_HammingDist_K_16.txt

XGBoost/C_Final_Owen/16_stage_APUF_C_Final_Owen/beta_a/pat_1/w_8/OWF_w_8_beta_a_pat_1_output_K_16.txt

XGBoost/C_Final_Owen/16_stage_APUF_C_Final_Owen/beta_a/pat_1/w_8/OWF_w_8_beta_a_pat_1_Uniformity_K_16.txt

XGBoost/C_Final_Owen/16_stage_APUF_C_Final_Owen/beta_a/pat_m/w_8/OWF_w_8_beta_a_pat_m_HammingDist_K_16.txt

XGBoost/C_Final_Owen/16_stage_APUF_C_Final_Owen/beta_a/pat_m/w_8/OWF_w_8_beta_a_pat_m_output_K_16.txt

XGBoost/C_Final_Owen/16_stage_APUF_C_Final_Owen/beta_a/pat_m/w_8/OWF_w_8_beta_a_pat_m_Uniformity_K_16.txt

XGBoost/C_Final_Owen/16_stage_APUF_C_Final_Owen/beta_b/pat_0/w_8/OWF_w_8_beta_b_pat_0_HammingDist_K_16.txt

XGBoost/C_Final_Owen/16_stage_APUF_C_Final_Owen/beta_b/pat_0/w_8/OWF_w_8_beta_b_pat_0_output_K_16.txt

XGBoost/C_Final_Owen/16_stage_APUF_C_Final_Owen/beta_b/pat_0/w_8/OWF_w_8_beta_b_pat_0_Uniformity_K_16.txt

XGBoost/C_Final_Owen/16_stage_APUF_C_Final_Owen/beta_b/pat_1/w_8/OWF_w_8_beta_b_pat_1_HammingDist_K_16.txt

XGBoost/C_Final_Owen/16_stage_APUF_C_Final_Owen/beta_b/pat_1/w_8/OWF_w_8_beta_b_pat_1_output_K_16.txt

XGBoost/C_Final_Owen/16_stage_APUF_C_Final_Owen/beta_b/pat_1/w_8/OWF_w_8_beta_b_pat_1_Uniformity_K_16.txt

XGBoost/C_Final_Owen/16_stage_APUF_C_Final_Owen/beta_b/pat_m/w_8/OWF_w_8_beta_b_pat_m_HammingDist_K_16.txt

XGBoost/C_Final_Owen/16_stage_APUF_C_Final_Owen/beta_b/pat_m/w_8/OWF_w_8_beta_b_pat_m_output_K_16.txt

XGBoost/C_Final_Owen/16_stage_APUF_C_Final_Owen/beta_b/pat_m/w_8/OWF_w_8_beta_b_pat_m_Uniformity_K_16.txt

XGBoost/C_Final_Owen/16_stage_APUF_C_Final_Owen/beta_c/pat_0/w_8/OWF_w_8_beta_c_pat_0_HammingDist_K_16.txt

XGBoost/C_Final_Owen/16_stage_APUF_C_Final_Owen/beta_c/pat_0/w_8/OWF_w_8_beta_c_pat_0_output_K_16.txt

XGBoost/C_Final_Owen/16_stage_APUF_C_Final_Owen/beta_c/pat_0/w_8/OWF_w_8_beta_c_pat_0_Uniformity_K_16.txt

XGBoost/C_Final_Owen/16_stage_APUF_C_Final_Owen/beta_c/pat_1/w_8/OWF_w_8_beta_c_pat_1_HammingDist_K_16.txt

XGBoost/C_Final_Owen/16_stage_APUF_C_Final_Owen/beta_c/pat_1/w_8/OWF_w_8_beta_c_pat_1_output_K_16.txt

XGBoost/C_Final_Owen/16_stage_APUF_C_Final_Owen/beta_c/pat_1/w_8/OWF_w_8_beta_c_pat_1_Uniformity_K_16.txt

XGBoost/C_Final_Owen/16_stage_APUF_C_Final_Owen/beta_c/pat_m/w_8/OWF_w_8_beta_c_pat_m_HammingDist_K_16.txt

XGBoost/C_Final_Owen/16_stage_APUF_C_Final_Owen/beta_c/pat_m/w_8/OWF_w_8_beta_c_pat_m_output_K_16.txt

XGBoost/C_Final_Owen/16_stage_APUF_C_Final_Owen/beta_c/pat_m/w_8/OWF_w_8_beta_c_pat_m_Uniformity_K_16.txt

XGBoost/C_Final_Owen/16_stage_APUF_C_Final_Owen/beta_d/pat_0/w_8/OWF_w_8_beta_d_pat_0_HammingDist_K_16.txt

XGBoost/C_Final_Owen/16_stage_APUF_C_Final_Owen/beta_d/pat_0/w_8/OWF_w_8_beta_d_pat_0_output_K_16.txt

XGBoost/C_Final_Owen/16_stage_APUF_C_Final_Owen/beta_d/pat_0/w_8/OWF_w_8_beta_d_pat_0_Uniformity_K_16.txt

XGBoost/C_Final_Owen/16_stage_APUF_C_Final_Owen/beta_d/pat_1/w_8/OWF_w_8_beta_d_pat_1_HammingDist_K_16.txt

XGBoost/C_Final_Owen/16_stage_APUF_C_Final_Owen/beta_d/pat_1/w_8/OWF_w_8_beta_d_pat_1_output_K_16.txt

XGBoost/C_Final_Owen/16_stage_APUF_C_Final_Owen/beta_d/pat_1/w_8/OWF_w_8_beta_d_pat_1_Uniformity_K_16.txt

XGBoost/C_Final_Owen/16_stage_APUF_C_Final_Owen/beta_d/pat_m/w_8/OWF_w_8_beta_d_pat_m_HammingDist_K_16.txt

XGBoost/C_Final_Owen/16_stage_APUF_C_Final_Owen/beta_d/pat_m/w_8/OWF_w_8_beta_d_pat_m_output_K_16.txt

XGBoost/C_Final_Owen/16_stage_APUF_C_Final_Owen/beta_d/pat_m/w_8/OWF_w_8_beta_d_pat_m_Uniformity_K_16.txt

XGBoost/C_Final_Owen/32_stage_APUF_C_Final_Owen/beta_a/pat_0/w_8/OWF_w_8_beta_a_pat_0_HammingDist_K_32.txt

XGBoost/C_Final_Owen/32_stage_APUF_C_Final_Owen/beta_a/pat_0/w_8/OWF_w_8_beta_a_pat_0_output_K_32.txt

XGBoost/C_Final_Owen/32_stage_APUF_C_Final_Owen/beta_a/pat_0/w_8/OWF_w_8_beta_a_pat_0_Uniformity_K_32.txt

XGBoost/C_Final_Owen/32_stage_APUF_C_Final_Owen/beta_a/pat_1/w_8/OWF_w_8_beta_a_pat_1_HammingDist_K_32.txt

XGBoost/C_Final_Owen/32_stage_APUF_C_Final_Owen/beta_a/pat_1/w_8/OWF_w_8_beta_a_pat_1_output_K_32.txt

XGBoost/C_Final_Owen/32_stage_APUF_C_Final_Owen/beta_a/pat_1/w_8/OWF_w_8_beta_a_pat_1_Uniformity_K_32.txt

XGBoost/C_Final_Owen/32_stage_APUF_C_Final_Owen/beta_a/pat_m/w_8/OWF_w_8_beta_a_pat_m_HammingDist_K_32.txt

XGBoost/C_Final_Owen/32_stage_APUF_C_Final_Owen/beta_a/pat_m/w_8/OWF_w_8_beta_a_pat_m_output_K_32.txt

XGBoost/C_Final_Owen/32_stage_APUF_C_Final_Owen/beta_a/pat_m/w_8/OWF_w_8_beta_a_pat_m_Uniformity_K_32.txt

XGBoost/C_Final_Owen/32_stage_APUF_C_Final_Owen/beta_b/pat_0/w_8/OWF_w_8_beta_b_pat_0_HammingDist_K_32.txt

XGBoost/C_Final_Owen/32_stage_APUF_C_Final_Owen/beta_b/pat_0/w_8/OWF_w_8_beta_b_pat_0_output_K_32.txt

XGBoost/C_Final_Owen/32_stage_APUF_C_Final_Owen/beta_b/pat_0/w_8/OWF_w_8_beta_b_pat_0_Uniformity_K_32.txt

XGBoost/C_Final_Owen/32_stage_APUF_C_Final_Owen/beta_b/pat_1/w_8/OWF_w_8_beta_b_pat_1_HammingDist_K_32.txt

XGBoost/C_Final_Owen/32_stage_APUF_C_Final_Owen/beta_b/pat_1/w_8/OWF_w_8_beta_b_pat_1_output_K_32.txt

XGBoost/C_Final_Owen/32_stage_APUF_C_Final_Owen/beta_b/pat_1/w_8/OWF_w_8_beta_b_pat_1_Uniformity_K_32.txt

XGBoost/C_Final_Owen/32_stage_APUF_C_Final_Owen/beta_b/pat_m/w_8/OWF_w_8_beta_b_pat_m_HammingDist_K_32.txt

XGBoost/C_Final_Owen/32_stage_APUF_C_Final_Owen/beta_b/pat_m/w_8/OWF_w_8_beta_b_pat_m_output_K_32.txt

XGBoost/C_Final_Owen/32_stage_APUF_C_Final_Owen/beta_b/pat_m/w_8/OWF_w_8_beta_b_pat_m_Uniformity_K_32.txt

XGBoost/C_Final_Owen/32_stage_APUF_C_Final_Owen/beta_c/pat_0/w_8/OWF_w_8_beta_c_pat_0_HammingDist_K_32.txt

XGBoost/C_Final_Owen/32_stage_APUF_C_Final_Owen/beta_c/pat_0/w_8/OWF_w_8_beta_c_pat_0_output_K_32.txt

XGBoost/C_Final_Owen/32_stage_APUF_C_Final_Owen/beta_c/pat_0/w_8/OWF_w_8_beta_c_pat_0_Uniformity_K_32.txt

XGBoost/C_Final_Owen/32_stage_APUF_C_Final_Owen/beta_c/pat_1/w_8/OWF_w_8_beta_c_pat_1_HammingDist_K_32.txt

XGBoost/C_Final_Owen/32_stage_APUF_C_Final_Owen/beta_c/pat_1/w_8/OWF_w_8_beta_c_pat_1_output_K_32.txt

XGBoost/C_Final_Owen/32_stage_APUF_C_Final_Owen/beta_c/pat_1/w_8/OWF_w_8_beta_c_pat_1_Uniformity_K_32.txt

XGBoost/C_Final_Owen/32_stage_APUF_C_Final_Owen/beta_c/pat_m/w_8/OWF_w_8_beta_c_pat_m_HammingDist_K_32.txt

XGBoost/C_Final_Owen/32_stage_APUF_C_Final_Owen/beta_c/pat_m/w_8/OWF_w_8_beta_c_pat_m_output_K_32.txt

XGBoost/C_Final_Owen/32_stage_APUF_C_Final_Owen/beta_c/pat_m/w_8/OWF_w_8_beta_c_pat_m_Uniformity_K_32.txt

XGBoost/C_Final_Owen/32_stage_APUF_C_Final_Owen/beta_d/pat_0/w_8/OWF_w_8_beta_d_pat_0_HammingDist_K_32.txt

XGBoost/C_Final_Owen/32_stage_APUF_C_Final_Owen/beta_d/pat_0/w_8/OWF_w_8_beta_d_pat_0_output_K_32.txt

XGBoost/C_Final_Owen/32_stage_APUF_C_Final_Owen/beta_d/pat_0/w_8/OWF_w_8_beta_d_pat_0_Uniformity_K_32.txt

XGBoost/C_Final_Owen/32_stage_APUF_C_Final_Owen/beta_d/pat_1/w_8/OWF_w_8_beta_d_pat_1_HammingDist_K_32.txt

XGBoost/C_Final_Owen/32_stage_APUF_C_Final_Owen/beta_d/pat_1/w_8/OWF_w_8_beta_d_pat_1_output_K_32.txt

XGBoost/C_Final_Owen/32_stage_APUF_C_Final_Owen/beta_d/pat_1/w_8/OWF_w_8_beta_d_pat_1_Uniformity_K_32.txt

XGBoost/C_Final_Owen/32_stage_APUF_C_Final_Owen/beta_d/pat_m/w_8/OWF_w_8_beta_d_pat_m_HammingDist_K_32.txt

XGBoost/C_Final_Owen/32_stage_APUF_C_Final_Owen/beta_d/pat_m/w_8/OWF_w_8_beta_d_pat_m_output_K_32.txt

XGBoost/C_Final_Owen/32_stage_APUF_C_Final_Owen/beta_d/pat_m/w_8/OWF_w_8_beta_d_pat_m_Uniformity_K_32.txt

XGBoost/Obfuscation_PUF_Data/16_stage_3XOR_APUF_C_Origin.txt

XGBoost/Obfuscation_PUF_Data/16_stage_3XOR_FFPUF_C_Origin.txt

XGBoost/Obfuscation_PUF_Data/16_stage_APUF_C_Origin.txt

XGBoost/Obfuscation_PUF_Data/3XOR_FF_PUF0utput_all_w_12_epsilon_a_pat_0_output_K_16.txt

XGBoost/Obfuscation_PUF_Data/3XORAPUF0utput_all_w_12_epsilon_a_pat_0_output_K_16.txt

XGBoost/Obfuscation_PUF_Data/APUF0utput_OWF_w_12_epsilon_a_pat_0_output_K_16.txt
